.apple01 {
  padding: 200px 0;
  background: rgb(151, 191, 243);
  text-align: center;
}
.apple01 h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0431b4;
  margin: 0 10px 30px 10px;
}

.apple01 a {
  font-size: 30px;
  color: #045fb4;
}

.apple01 p {
  font-size: 30px;
  color: #2e9afe;
  margin: auto;
}

body {
  font-family: Libre Baskerville;
}
