/* 2022.05.30. leeseoyu */
/* !important 자바스크립트보다 우선으로 한다
잘 안 쓴다 */

/* 반응형 조건
@media (max-width: 768px) {
  .header {
    color: red;
  }
  .mpen {
    display: block;
  }
}
  마지막 } 빼먹을 수 있으니 주의*/
/* 768px 아이패드 가로사이즈 */

.header {
  line-height: 100px;
  background: #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.header .container ul {
  display: flex;
  gap: 40px;
}

.visual {
  position: relative;
  height: 600px;
  background: #333;
  color: #fff;
  line-height: 600px;
  text-align: center;
}

.footer {
  text-align: center;
  line-height: 100px;
  background: #ddd;
}

.mopen {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: #ff0;
}

.mopen span {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 2px;
  background: #333;
}

.mopen span:nth-child(1) {
  top: 7px;
}
.mopen span:nth-child(2) {
  top: 14px;
}
.mopen span:nth-child(3) {
  top: 14px;
}
.mopen span:nth-child(4) {
  bottom: 7px;
}

/* 반응형 만들기 */
@media (max-width: 1000px) {
  .header {
    line-height: 100px;
    background: #fff;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0 auto;
  }

  .header .container ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 40px;
  }

  nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 90px);
    height: 100vh;
    background: #ff0;
    z-index: 999;
    transition: left 0.5s;
    /* transition-timing-function: cubic-bezier(1, 1, 0, 0); <-나오고 들어갈 때, 속도가 같을 수 있게 하는 베지어 곡선*/
  }

  nav.on {
    left: 0;
  }

  .visual {
    height: 600px;
    background: #333;
    color: #fff;
    line-height: 600px;
    text-align: center;
  }

  .footer {
    text-align: center;
    line-height: 100px;
    background: #ddd;
  }

  .mopen {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #ff0;
  }

  .mopen span {
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #333;
  }

  .mopen.on span:nth-child(1) {
    display: none;
  }
  .mopen.on span:nth-child(2) {
    transform: rotate(45deg);
  }
  .mopen.on span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .mopen.on span:nth-child(4) {
    display: none;
  }
}
