body {
  width: 1000px;
  height: 1000px;
  background: antiquewhite;
}

.smile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #000;
}

ul .eye1 {
  position: absolute;
  top: 35%;
  left: 23%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

ul .eye1.on {
  position: absolute;
  top: 35%;
  left: 23%;
  transform: translate(-50%, -50%) rotate(225deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

ul .eye2 {
  position: absolute;
  top: 35%;
  left: 73%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

ul .eye2.on {
  position: absolute;
  top: 35%;
  left: 73%;
  transform: translate(-50%, -50%) rotate(225deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

ul .mouth {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

ul .mouth.on {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10%;
  height: 10%;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
