.Wrap {
    position: relative;
}

/* * {
    outline: 1px solid #253E66
} */

*/ h1,
h2,
li,
span,
a {
    color: #333;
}

.container {
    /* display: flex; */
    margin: 0 auto;
}

.top_banner {
    position: sticky;
    inset: 0 auto auto 0;
    width: 100%;
    padding: 8px 0;
    background: #111;
    z-index: 99999;
}

.top_banner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.top_banner .inner strong {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.top_banner .inner i {
    position: absolute;
    inset: 0 0 auto auto;
    color: #fff;
}

.header {
    position: absolute;
    top: 0;
    left: 18.5%;
    width: 1200px;
    line-height: 100px;
    font-size: 17px;
    z-index: 999;
}

.header .container nav {
    display: flex;
    /* justify-content: space-between; */
}

.header .container nav>* {
    flex: 1;
}

.header .container h1 {
    text-align: center;
}

.header .container nav>ul {
    display: flex;
    gap: 40px;
    width: 200PX;
}

.header .container nav>ul a {
    display: block;
    /* padding-top: 40px; */
}

.header .container nav>ul i {
    font-size: 23px;
    font-weight: 700;
}

.header .container .service {
    justify-content: flex-end;
}

.main_door {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.main_door .container {
    /* position: relative; */
    display: flex;
}

.main_door .center_door figure {
    flex: 1;
}

.main_door .center_door figure img {
    height: 800px;
}

.main_door .center_door .float_pic {
    position: absolute;
    top: 11%;
    z-index: 999;
}

.main_door .center_door .float_float {
    position: absolute;
    top: 11%;
    z-index: 998;
}

.center_door ul {
    position: absolute;
    top: 15%;
    left: 40%;
    margin: 0;
    width: 500px;
    list-style: none;
    font-size: 45px;
    font-weight: 700;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 15s linear infinite;
    z-index: 998;
}

.center_door ul>li:nth-child(1) {
    transform: translate(-10%, -30%) rotate(0deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(2) {
    transform: translate(-10%, -30%) rotate(30deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(3) {
    transform: translate(-10%, -30%) rotate(60deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(4) {
    transform: translate(-10%, -30%) rotate(90deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(5) {
    transform: translate(-10%, -30%) rotate(120deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(6) {
    transform: translate(-10%, -30%) rotate(150deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(7) {
    transform: translate(-10%, -30%) rotate(180deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(8) {
    transform: translate(-10%, -30%) rotate(210deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(9) {
    transform: translate(-10%, -30%) rotate(240deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(10) {
    transform: translate(-10%, -30%) rotate(270deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(11) {
    transform: translate(-10%, -30%) rotate(300deg) translateY(-260px) rotateX(90deg);
}

.center_door ul>li:nth-child(12) {
    transform: translate(-10%, -30%) rotate(330deg) translateY(-260px) rotateX(90deg);
}

@keyframes three-dimensions-circle {
    0% {
        transform: rotateX(-100deg) rotate(0);
    }

    100% {
        transform: rotateX(-100deg) rotate(-360deg);
    }
}

.group {
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
}

.group .container {
    display: flex;
}

.group .container .fashion {
    display: flex;
}

.group .container .fashion .fashion_pic {
    display: flex;
}

.group .container .fashion .fashion_pic .rel_st,
.group .container .fashion .fashion_pic .rel_nd,
.group .container .fashion .fashion_pic .rel_rd,
.group .container .fashion .fashion_pic .rel_th {
    position: relative;
    border-right: 1px solid #333;
}

.group .container .fashion .fashion_pic figure:nth-child(4) {
    border-right: none;
}

.group .container .fashion .fashion_pic a {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    padding: 10px 30px;
    border: 0.7px solid #333;
    background: #fff;
    cursor: pointer;
}

.group .container .fashion figure:hover a {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 19px;
    text-align: center;
    padding: 10px 30px;
    /* border: 1px solid #333; */
    background: #333;
    cursor: pointer;
    color: #fff;
}

.group .container .fashion .fashion_pic:not(fitst-child) :hover img {
    visibility: visible;
}

/* .fashion_pic:not(fitst-child) :hover .box_nd {
    visibility: hidden;
} */

.group .container .fashion .fashion_pic:hover img {
    visibility: hidden;
}

.group .container .fashion .fashion_pic .on {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/logo-small.svg) no-repeat center center/cover;
    height: 20px;
    width: 175px;
    visibility: visible;
}

.group .more {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px 30px;

    font-size: 15px;
    transform: translateX(-50%);
}

.group .more:hover {
    background: #333;
    color: #fff;
    border: 1px solid #333;
}

.group .more:hover a {
    color: #fff;
}

.scrollMe .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 30px;
}

.scrollMe .container h2 {
    margin: 30px 0 10px 0;
}

.scrollMe .container p {
    font-size: 15px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 0.025em;
}

/* .intro .container .about .right {
    height: 100vh;
} */

.ytb {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}

.ytb .boxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1900px;
    background: #111;
    z-index: -999;
}

.footer .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    color: #333;
    padding-bottom: 200px;
}

.footer .container h1 {
    padding-top: 15px;
}

.footer .container>dl {
    padding-top: 52px;
}

.footer .container>dl>dt {
    font-size: 15px;
    font-weight: 500;
    font-weight: 00;
    margin-bottom: 10px;
}

.footer .container>dl>dd {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.footer .container>dl .call {
    margin-top: 35px;
}

.footer .container>dl .follow {
    margin-top: 35px;
}

.footer .container .follow {
    display: flex;
}

.footer .container i {
    font-size: 17px;
}

.to_top {
    position: fixed;
    inset: auto 5% 5% auto;
    width: 80px;
    height: 80px;
    background: url(../img/top_button.png) no-repeat center center/cover;
    display: none;
    animation: round 6s linear infinite;
    transform-origin: 50% 50%;
}

/* 
.to_top figure {
    width: 80px;
    height: 80px;
    cursor: pointer;

} */

/* .to_top figure.on {
    display: block;
} */

/* .to_top figure img {
    width: 80px;
    height: 80px;
    /* animation: round 6s linear infinite;
    transform-origin: 50% 50%; */


@keyframes round {
    100% {
        transform: rotate(360deg);
    }
}