h1 {
  width: 300px;
  height: 50px;
  text-align: center;
  background: #a5df00;
}

nav {
  line-height: 30px;
}

.header .container {
  display: flex;
}

.header nav {
  margin: 0 0 0 auto;
  background: #a5df00;
}
.header nav ul {
  display: flex;
  gap: 50px;
}
