body {
  background: #333;
}

nav {
  position: fixed;
  top: 0;
  left: -500px;
  width: 500px;
  height: 100vh;
  background: #fff;
  transition: 0.5s;
}

nav.oo {
  left: 0;
}

.mpoen {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background: #ddd;
}
/* .mpoen으로 작성된 css : 작은 네모 상자를 만들었음 */

.mpoen span {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 3px;
  background: #f00;
  transition: 0.5s;
}
/* .mpoen span 으로 작성된 css : 네모 박스 안에 들어간 가로 줄을 오왼 5픽셀의 간격을 주고, 높이 3픽셀인 박스를 만들었음*/

.mpoen span:nth-child(1) {
  top: 5px;
}

.mpoen.oo span:nth-child(1) {
  opacity: 0;
}

.mpoen span:nth-child(2) {
  top: 14px;
}

.mpoen.oo span:nth-child(2) {
  transform: rotate(45deg);
}

.mpoen span:nth-child(3) {
  top: 14px;
}

.mpoen.oo span:nth-child(3) {
  transform: rotate(-45deg);
}

.mpoen span:nth-child(4) {
  bottom: 5px;
}
.mpoen.oo span:nth-child(4) {
  opacity: 0;
}
/* .mpoen span:nth-child와 .oo를 가지고 창을 열고 닫고 할 때 나오는 가로줄의 모양을 x자로 변경할 수 있게 작성*/
