body {
  background: #333;
}

.shoes {
  padding: 100px 0;
}

.shoes > .case {
  position: relative;
  width: 809px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}

.shoes .case ul {
  position: absolute;
  top: -450px;
  left: 0;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.34, -0.85, 0.54, 1.65);
}

.num {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #fff;
  font-size: 30px;
}

/* position:absolute top:0을 주고 position: relative의 높이를 안 준 상태에서 overflow:hidden하면 이미지들이 사라짐 */
