.main_visual {
}

.main_visual .main_slider {
}

.main_visual .main_slider figure {
  position: relative;
  height: 600px;
}

/* 포지션 릴레이티브를 주는 이유는, 슬라이드 사진3개가 쌓여있으니 .inner에 포지션 absolute를 주면 맨 위에 있는 사진에만 글이 있어서 이너를 싸고 있는 거에  붙기 떄문에 피규어에 릴레이티를 줘야함 */

.main_visual .main_slider .itm01 {
  background: url(../img/mainvisual01.jpg) no-repeat center top/cover;
}

.main_visual .main_slider .itm02 {
  background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .itm03 {
  background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .main_slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100px;
  height: 100px;
  font-size: 0;
  border: none;
  background: transparent;
  outline: none;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
/* background: transparent; 배경 투명하게 */
/* previous가 next의 아래로 내려가 있어서 제트 인덱스 해줘야함
margin을 이용해서 p랑 n을 떨어뜨려둠 */

.main_visual .main_slider .slick-prev {
  margin: 0 0 0 -700px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main_visual .main_slider .slick-next {
  margin: 0 0 0 700px;
  transform: translate(-50%, -50%) rotate(135deg);
}
/* transform은 뒤에 온게 앞에 꺼를 덮어쓰기 때문에 인라인에 줘야함 */
/* transform은 움직이고, 돌리는 거랑 돌리고 움직이는 거랑 좌표가 다름 */

.main_visual .main_slider .slick-dots {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.main_visual .main_slider .slick-dots li {
  display: inline-block;
  width: 80px;
  height: 5px;
  background: #555;
  margin: 0 3px;
}

.main_visual .main_slider .slick-dots li.slick-active {
  background: darkkhaki;
}

.main_visual .main_slider .slick-dots button {
  display: none;
}

/* (사이트 검사에 있는 그대로)슬라이드가 만들어주는 걸 보고 만드는 것이 편함 */

.main_visual .main_slider .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

.main_visual .main_slider .inner h3 {
  font-size: 50px;
  font-weight: 700px;
  margin: 0 0 20px 0;
}

.main_visual .main_slider .inner p {
  font-size: 15px;
  font-weight: 300px;
  margin: 0 0 20px 0;
  line-height: 1.4;
}

.main_visual .main_slider .inner a {
  display: inline-block;
  padding: 5px 30px 8px 30px;
  background: #333;
  border: 1px solid #fff;
}
/* (별표) display: inline-block;을 주는 이유는 폰트의 길이가 다르기 때문에 
폰트 길이에 따라 유동적으로 늘어날 수 있도록! 
**display: inline-block으로 된 박스를 가운데 오게 하는 방법은 부모에 텍스트 얼라인을 주면 됨*/

.main_visual .main_slider .inner a:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.main_visual .main_slider figure h3 {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.xoxo h3 {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}
.main_visual .main_slider figure p {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.xoxo p {
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s 0.5s;
}
/*   transition: 0.5s(타이밍 펑션) 0.5s(타이밍 딜레이); 0.5초 딜레이 */

.main_visual .main_slider figure a {
  transform: translateY(100px);
  opacity: 0;
}

.main_visual .main_slider figure.xoxo a {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s 1s, transform 0.5s 1s;
}
/*   transition: 0.5s(타이밍 펑션) 1s(타이밍 딜레이); 1초 딜레이 */
/* transition: opacity 0.5s 1s, transform 0.5s 1s; 
:trasition이 되어야 하는 것들을 죄다 넣어줘야함*/
