@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Smooch&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* 리셋 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
}
/* 박스 사이즈가 늘어났을 때, 사이즈 안으로 가두게 하는 명령이 boder-box
interit 상속 받는다. html에서 받는 사이즈로  font-weight기본이 400*/

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
  font-family: 'Noto Sans KR', sans-serif;
}
/* 상속되는 게 있고, 안되는 게 있음 */

img {
  max-width: 100%;
  vertical-align: middle;
}
/* 이미지 최대 넓이를 100% 벗어나지 말아라ㅏㅏㅏ */
/* vertical-align 이미지를 중간으로 배치하라 */
